# Node.js dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
*.log

# IDE-specific files
.DS_Store
.idea/

# Webpack-specific files
*.cache

# Ignore assets if needed
assets/*.jpg
assets/*.jpeg
assets/*.png
assets/*.gif
assets/*.svg